<% content_for :title do %>About<% end %>
<h3>About Elena Ricaurte</h3>
<p>She was born in Medellín, Colombia. She left Colombia, searching for the love of her
lover in Buenos Aires. They fell deeply in love and live happily for ever.</p>
<p>Her specialty is lemon pie.</p>
<p>Loren ipsum blablabla mas contenido aqui.</p>
